DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=feedboard
SQL_USER=feedboard_admin
SQL_PASSWORD=feedboard_pass
SQL_HOST=db
SQL_PORT=5432
DJANGO_SUPERUSER_EMAIL=superuser@gmail.com
DJANGO_SUPERUSER_USER_NAME=superuser
DJANGO_SUPERUSER_PASSWORD=superuser