@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 96.08%;
        --foreground: 210 73% 4%;
        --muted: 210 19% 90%;
        --muted-foreground: 210 9% 34%;
        --popover: 210 62% 99%;
        --popover-foreground: 210 73% 4%;
        --card: 0 0% 100%;
        --card-foreground: 210 73% 4%;
        --border: 210 8% 94%;
        --input: 210 8% 94%;
        --primary: 204 100% 49.02%;
        --primary-foreground: 0 0% 100%;
        --secondary: 210 15% 83%;
        --secondary-foreground: 210 15% 23%;
        --accent: 210 15% 83%;
        --accent-foreground: 210 15% 23%;
        --destructive: 10.12 100% 50%;
        --destructive-foreground: 10 86% 99%;
        --ring: 210 100% 50%;
        --radius: 0.5rem;
    }

    .dark,
    :root[class~="dark"] {
        --background: 210 56% 1%;
        --foreground: 210 14% 98%;
        --muted: 210 19% 10%;
        --muted-foreground: 210 9% 66%;
        --popover: 210 56% 1%;
        --popover-foreground: 210 14% 98%;
        --card: 0 0% 5.08%;
        --card-foreground: 210 14% 98%;
        --border: 210 8% 12%;
        --input: 210 8% 12%;
        --primary: 204 100% 49.02%;
        --primary-foreground: 0 0% 100%;
        --secondary: 210 16% 15%;
        --secondary-foreground: 210 16% 75%;
        --accent: 210 16% 15%;
        --accent-foreground: 210 16% 75%;
        --destructive: 10 86% 59%;
        --destructive-foreground: 0 0% 0%;
        --ring: 210 100% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-family: "Figtree Variable", sans-serif;
    }
    ul,
    ol {
        list-style: revert;
        list-style-position: outside;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
}
