{% extends 'base.html' %}
{% load static %}

{% block title %}{{category}}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/css/board_settings.css' %}">
{% endblock style %}

{% block body %}
{% csrf_token %}
<main>
	<div class="container mt-3">
		<form action="" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label>Change board name:</label>
				<input type="text" name="category_name" class="form-control" id="category_name" value="{{category}}">
				<label>URL</label>
				<input type="text" class="form-control" readonly
					value="{{request.get_host}}{{category.get_category_url}}">
			</div>
			<div class="form-group">
				<button type="submit" name="board_name_change" class="btn btn-primary">Save</button>
			</div>
		</form>

		<label>Status:</label>
		<div class="form-group status_list_div">
			{% for status in category.status_set.all %}
			<div class="status-div">
				<input type="text" name="{{status.id}}" class="form-control mb-2 status" value="{{status.title}}" required>
				{% if status.is_default %}
				<input type="text" disabled value="Default" class="form-control mb-2 default-status">
				{% endif %}
				<input type="color" id="colour_{{status.id}}" name="favcolor" value="{{status.colour}}" class="status-colour">
				{% if not status.is_default %}
				<i class="material-icons status-settings" id="delete_{{status.id}}">delete</i>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<button type="button" id="add_status" class="btn btn-secondary">Add status</button>
			<button type="button" name="status_change" class="btn btn-primary" id="status_button">Save</button>
		</div>
		<form action="" method="post" onsubmit="return confirm('Do you really want to delete this board?');">
			{% csrf_token %}
			<div class="form-group">
				<label>Delete board:</label><br>
				<button type="submit" name="delete_board" class="btn btn-danger">Delete</button>
			</div>
		</form>
	</div>
</main>
{% endblock body %}

{% block scripts %}
<script src="{% static 'core/js/board_settings.js' %}" type="module"></script>
{% endblock scripts %}