{% extends 'base.html' %}
{% load static %}
{% load core_extras %}

{% block title %}{{category}}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/css/category_view.css' %}">
{% endblock style %}

{% block body %}
{% csrf_token %}
{{category.id|json_script:"category_id"}}
<main>
    <div class="container pt-3 pb-3">

        <div class="row">
            <div class="col-md-8 maincol">

                <div class="search-results">
                </div>
                <div class="posts">

                    <div class="header">
                        <div class="category_title">
                            <h5>{{category}}</h5>
                            {% if is_admin %}
                            <a href="{% url 'board_settings' category.slug %}"><i
                                    class="material-icons board-settings">settings</i></a>
                            {% endif %}
                        </div>
                        <div class="dropdown show">
                            <select id="filter_by" name="filter_by"
                                onchange="if (this.selectedIndex) location=finalurl2()">
                                <option value="-1" selected hidden>Filter by</option>
                                {% for status in category.status_set.all %}
                                <option value="{{status}}">{{status}}</option>
                                {% endfor %}
                            </select>

                            <select id="sort_by" name="sort_by" onchange="if (this.selectedIndex) location=finalurl()">
                                <option value="-1" selected hidden>Sort by</option>
                                <option value="upvotes">Upvotes</option>
                                <option value="created_at">Date</option>
                            </select>
                        </div>
                    </div>

                    <div class="dropdown show dropdown-mobile">
                        <select id="filter_by" name="filter_by" onchange="if (this.selectedIndex) location=finalurl2()">
                            <option value="-1" selected hidden>Filter by</option>
                            {% for status in category.status_set.all %}
                            <option value="{{status}}">{{status}}</option>
                            {% endfor %}
                        </select>

                        <select id="sort_by" name="sort_by" onchange="if (this.selectedIndex) location=finalurl()">
                            <option value="-1" selected hidden>Sort by</option>
                            <option value="upvotes">Upvotes</option>
                            <option value="created_at">Date</option>
                        </select>
                    </div>

                    {% for post in posts %}
                    <div class="card post">
                        <p class="post_id" hidden>{{post.id}}</p>
                        <div class="upvotes">
                            {% if request.user in post.upvotes.all %}
                            <i class="material-icons footer-icons upvote_button already-voted">keyboard_arrow_up</i>
                            {% else %}
                            <i class="material-icons footer-icons upvote_button">keyboard_arrow_up</i>
                            {% endif %}
                            <p class="upvote_count">{{post.get_upvotes}}</p>
                        </div>
                        <div class="post-body">
                            <div class="card-body pb-1 pt-1">
                                <h5 class="card-title"><a
                                        href="{% url 'post_view' category.slug post.slug %}">{{post.title|truncatewords:11}}</a>
                                </h5>

                                <div class="rounded"
                                    style="background-color: {{post.status.colour}}; display: inline-block;">
                                    <div class="status">
                                        {{post.status}}
                                    </div>
                                </div>

                                <p class="card-text mt-2 mb-1">{{post.content|truncatewords:12}}</p>
                                <div class="post-footer">

                                    <a href="{% url 'post_view' category.slug post.slug %}" class="footer-item">
                                        <div class="comment-div">
                                            <i class="material-icons">comment</i>
                                            {{post.comments.count}} Comments
                                        </div>
                                    </a>

                                    {% if post.user == request.user %}
                                    <div class="options">
                                        <a href="{% url 'edit_post' post.id %}" class="footer-item">Edit</a>

                                        <a href="{% url 'delete_post' post.id %}" class="footer-item"
                                            onclick="return confirm('Do you want to delete this post?')">Delete</a>
                                    </div>
                                    {% elif is_admin %}
                                    <a href="{% url 'delete_post' post.id %}" class="footer-item"
                                        onclick="return confirm('Do you want to delete this post?')">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="page-links">
                        {% if has_previous %}
                        <a class="infinite-more-link"
                            href="{% relative_url previous_page_number 'page' request.GET.urlencode %}">Previous</a>
                        {% endif %}

                        {% if has_next %}
                        <a class="infinite-more-link"
                            href="{% relative_url next_page_number 'page' request.GET.urlencode %}">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 formcol">
                <div class="input-group rounded search-div">
                    <input type="search" class="form-control rounded" placeholder="Search" id="search_bar">
                </div>
                <div class="new-post-form">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h6>Create a new post</h6>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" class="form-control" required
                                placeholder="Post title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" class="form-control" required
                                placeholder="Short description"></textarea>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-dark">Create</button>
                            <div id="file-count"></div>
                            <div id="remove-files">
                                <i class="material-icons">close</i>
                            </div>
                            <label for="image-files">
                                <i class="material-icons">attach_file</i>
                            </label>
                            <input type="file" name="image-files" id="image-files" accept="image/*" multiple>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}

{% block scripts %}
<script src="{% static 'core/js/category_view.js' %}" type="module"></script>
<script>
    // for getting url after applying sorting
    function finalurl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('sort_by', document.getElementById("sort_by").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    // for getting url after applying filtering
    function finalurl2() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('filter_by', document.getElementById("filter_by").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }
</script>
{% endblock scripts %}