{% extends 'base.html' %}
{% load static %}
{% block title %}{{project}}{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/css/project_view.css' %}" />
{% endblock style %}
{% block body %}
<main>
	<h6 class="section-title">Boards</h6>
	<div class="list-group">
		{% for category in categories %}
		<a href="{% url 'category_view' project.slug category.slug %}"
			class="list-group-item list-group-item-action">{{category.title}} - {{category.post_set.count}}
		</a>
		{% endfor %}
	</div>

	<h6 class="section-title">Roadmaps</h6>
	<div id="accordion">
		{% for category in categories %}

		<a class="list-group-item list-group-item-action" data-toggle="collapse"
			href="#multiCollapseExample{{category.id}}" role="button">{{category}} Roadmap</a>

		<div class="collapse multi-collapse" id="multiCollapseExample{{category.id}}">
			<div class="container">
				<div class="card status-div mt-2 mb-2 border-0">
					{% for status in category.status_set.all %}
					<div class="status-posts">
						<div class="status">
							<h6 class="rounded" style="background-color: {{status.colour}};">{{status}}</h6>
						</div>
						<div class="posts">
							{% for post in status.post_set.all %}
							<div class="card post">
								<div class="upvotes">
									<i class="material-icons footer-icons upvote_button">keyboard_arrow_up</i>
									<p class="upvote_count">{{post.get_upvotes}}</p>
								</div>
								<div class="post-body">
									<div class="card-body pb-1 pt-1">
										<h6 class="card-title"><a
												href="{% url 'post_view' project.slug category.slug post.slug %}">{{post.title|truncatechars:35}}</a>
										</h6>

										<p class="card-text mt-1">{{post.content|truncatechars:35}}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		{% endfor %}
	</div>

	<h6 class="section-title">Settings</h6>
	{% if is_admin %}
		<a href="{% url 'project_settings' project.slug %}" class="list-group-item list-group-item-action">Project
			Settings</a>
	{% endif %}

</main>
{% endblock body %} {% block scripts %}{% endblock scripts %}