{% extends 'base.html' %}
{% load static %}
{% block title %}{{project}}{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/css/project_view.css' %}" />
{% endblock style %}
{% block body %}
<main>
	<h6 class="section-title">Boards</h6>
	<div class="list-group">
		{% for category in categories %}
		<a href={% url 'category_view' category.slug %}
			class="list-group-item list-group-item-action">{{category.title}} - {{category.count}}
		</a>
		{% endfor %}
	</div>

	<h6 class="section-title">Roadmaps</h6>
	<div id="accordion">
		{% for category in categories %}

		<a class="list-group-item list-group-item-action" data-toggle="collapse"
			href="#multiCollapseExample{{category.id}}" role="button">{{category.title}} Roadmap</a>

		<div class="collapse multi-collapse" id="multiCollapseExample{{category.id}}">
			<div class="container">
				<div class="card status-div mt-2 mb-2 border-0">
					{% for status, post_set in category.status.items %}
					<div class="status-posts">
						<div class="status">
							<h6 class="rounded" style="background-color: {{status.colour}};">{{status.title}}</h6>
						</div>
						<div class="posts">
							{% for post in post_set %}
							<div class="card post">
								<div class="upvotes">
									<i class="material-icons footer-icons upvote_button">keyboard_arrow_up</i>
									<p class="upvote_count">{{post.upvote_count}}</p>
								</div>
								<div class="post-body">
									<div class="card-body pb-1 pt-1">
										<a href="{% url 'post_view' category.slug post.slug %}">
											<div class="card-title">{{post.title|truncatechars:25}}
											</div>
										</a>
										<p class="card-text">{{post.content|truncatechars:53}}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		{% endfor %}
	</div>

	{% if is_admin %}
	<h6 class="section-title">Settings</h6>
	<a href="{% url 'project_settings' %}" class="list-group-item list-group-item-action">Project
		Settings</a>
	{% endif %}

</main>
{% endblock body %} {% block scripts %}{% endblock scripts %}


