p{
    font-size: 14px;
}

#description{
    height: 160px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h5{
    margin-bottom: 0;
}

.post{
    display: grid;
    grid-template-columns: 1fr 9fr;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    margin-bottom: 0.8rem;
}

.post-body{
    display: flex;
    flex-direction: column;
}

.post-footer{
    display: flex;
    align-items: center;
}

.upvotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.upvote_button{
    font-size: 2rem;
}

.already-voted{
    color: #1a66d9;
}

.material-icons{
    cursor: pointer;
}

.footer-item{
    margin-right: 0.5rem;
    color: #6c757d;
}

.footer-item a{
    font-size: 14px;
    color: black;
}

.footer-item:link { text-decoration: none; }
.footer-item:visited { text-decoration: none; }
.footer-item:hover { text-decoration: none; color: #363738;}
.footer-item:active { text-decoration: none; }

.comment-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    column-gap: 0.4rem;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}


.card-title{
    margin-bottom: 0.5rem;
}

.card-title a{
    font-size: 1rem;
    color: black;
}

.new-post-form{
    background-color: #ffffff;
    padding: 0.8rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}

.category_title{
    display: flex;
    column-gap: 0.6rem;
}

.search-div{
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}

.search-results{
    display: none;
}