p {
    font-size: 14px;
}

.card-title{
    font-size: 17px;
}

.card-body{
    padding: 0.75rem;
}

.card-text{
    margin-top: 1rem;
}

#images{
    display: flex;
    column-gap: 8px;
    margin-bottom: 1rem;
}

.voters{
    height: 20rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    overflow-y: auto;
}

.comment{
    width: 100%;
}

#comment_box{
    margin: 10px 0px 10px 0px;
}

.comment-form{
    display: flex;
    width: 100%;
}

#comment_input{
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
}

#post-comment{
    font-size: 15px;
    border: none;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.options{
    margin-left: 0;
    font-size: 2rem;
}

@media (max-width: 992px) {
    .maincol{
        order: 2;
    }
    .votercol{
        order: 1;
    }
    .voters{
        height: 7.5rem;
    }
}