{% extends 'account/base.html' %}

{% block content %}
<h5>Change password</h5>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{field.label}}
            {{field}}
        </div>

        {% if field.errors %}
            <div class="alert alert-danger">
                {{field.errors}}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Reset password</button>
</form>
{% endblock %}